#
# LG2102_DEVICE subsystem configuration
#

#menu "FC8050 support"

config FC8050_TDMB
	default n
	---help---
	  This driver implements the front-end of the Xen virtual
	  keyboard and mouse device driver.  It communicates with a back-end
	  in another domain.

config FC8050_DEBUG
	default n
	---help---
	  Enable TDMB fc8050 debug messages.

#endmenu
